html, body {
	margin: 0;
	padding: 0;
}

.menu {
	width:250px;
	background-color: #003748;
	height:100%;
	position: fixed;
	margin: 0;
	float:left;
}

.menu ul{
	list-style: none;
}
.menu ul li {
	text-align: center; 
	font-variant: small-caps;
	line-height: 40px;
	color:white;
}

.content {
	position: absolute;
	top:0;
	left:250px;
	margin-right: 50px;
}

.content h1 {
	margin-left: 30px;
}

.content p {
	margin-left: 50px;
}