/* znaczniki wspólne */
html, body {
	min-height: 100%;
	margin: 0;
	padding-bottom: 100px;
}

/*nagłówek */
.header
{
	background-image: url("../img/tlo.jpg");
	background-size: cover;
	text-align: center;
}

.header h2 {
	color: white;
	font-variant: small-caps;
	letter-spacing: 0.2em;
}

/* nawigacja */

/* wycentrowanie */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* zmiana koloru tła menu i usunięcie ramki */
.navbar-default {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border:none;
}

/* wygląd przycisków */
.navbar .navbar-custom li {
	border: solid white 1px;
	border-radius: 15px;
	margin-left: 12px;
	margin-right: 12px;
	font-size: 1.5em;
}

.navbar .navbar-custom li a {
	color:white;
}

.navbar .navbar-custom li:hover{
	background: rgba(255, 225, 225, .6);
	transition: background .5s;  
}

/*pasek jezyka */
.language {
	text-align: right;
}
.language a{
	color:white;

}

/* projekty */

.tile {
	width: 70%;
	border: 2px solid #003748;
	border-radius: 10px;
	margin: 50 auto; 
}

.col-md-4{
	text-align: center;
}

.projekty p{
	text-align: justify;
}
/* o mnie*/
.about h3{
		text-align: center;
}
.about p{
	text-align: justify;
}

/* stopka*/
.footer {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-inverse {
	background-color: #004467;
	background-image: none;
	background-repeat: no-repeat;
	border:none;
}

.navbar-inverse .navbar-brand {
	color: white;
	font-variant: small-caps;
	font-size: 1.5em;
}

.help .navbar-link img {
	max-height: 30px;
	margin-top: 10px;
	border-radius: 5px;
}
