$teal: #004467;
$ivory: #fffff0;
$gray: #777777;
$basic-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $basic-font;
}

a {
  text-decoration: none;
  color: $teal;
  font-weight: 800;
}

.wraper {
  max-width: 1023px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1em 5%;
}

.header {
  background-color: $teal;
  color: $ivory;

  &__logo {
    width: 100%;

    &--first-name {
      font-size: 1.5em;
      line-height: 1em;
      display: inline-block;
    }

    &--name {
      font-size: 2.25em;
      line-height: 1em;
      display: inline-block;
    }

    &--slogan {
      font-size: 1em;
      line-height: 1em;
      display: inline-block;
    }
  }

  &__navigation {
    width: 100%;
  }
}

.navigation {
  list-style-type: none;
  padding: 0;

  &__links {
    color: $ivory;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 769px) {
  .header {
    &__logo {
      width: 45%;
    }

    &__navigation {
      width: 45%;
    }
  }
}

.about {
  &__header {
    width: 100%;
    color: $teal;
    text-align: center;
    border-bottom: 1px solid $teal;
  }

  &__text {
    width: 45%;
    order: 2;
  }

  &__img {
    order: 1;
    width: 45%;
    margin: 1em;
  }

  &__quote {
    padding: 0.5em;
    margin: 1em 0;
    border-left: 5px solid $teal;

    p {
      margin: 0;
    }

    footer {
      font-size: 80%;
      color: $gray;
    }
  }

  &__title {
    color: $teal;
    margin: 1em 0;
  }

  &__plan {
    list-style: none;
    padding: 0;

    &--emphasis {
      color: $teal;
      font-weight: 800;
    }
  }

  &__focus {
    list-style: none;
    padding: 0;

    ::before {
      content: "• ";
      color: $teal;
    }
  }
}
@media screen and (max-width: 768px) {
  .about {
    &__text {
      width: 100%;
      order: 1;
    }

    &__img {
      width: 100%;
    }
  }
}

.projects {
  &__header {
    width: 100%;
    color: $teal;
    text-align: center;
    border-bottom: 1px solid $teal;
  }

  &__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em 5%;
  }
}

.article {
  &__header {
    width: 100%;
    text-align: left;

    &--title {
      color: $teal;
      margin-bottom: 0;
    }

    &--date {
      font-size: 0.75em;
    }
  }

  &__element {
    margin-top: 1em;
    width: 100%;

    &--github,
    &--page {
      text-align: center;
    }
  }
}
@media screen and (min-width: 769px) {
  .article {
    &__element {
      width: 45%;

      &--img {
        order: 1;
      }

      &--github {
        order: 3;
      }

      &--page {
        order: 4;
      }

      &--text {
        order: 2;
      }
    }
  }
}

.cta-container {}

.cta {
  color: white;
  background-color: $teal;
  border-radius: 10px;
  padding: 0.5em 1em;
  width: 50%;
  margin-top: 1em;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .cta {
    width: 25%;
  }
}

.contact {
  &__header {
    width: 100%;
    color: $teal;
    text-align: center;
    border-bottom: 1px solid $teal;
  }

  &__links {
    display: inline-block;
    margin-bottom: 1em;
  }
}
