$desktop-width: 800px;

$white: #fff;
$white-ivory: #fffff0;
$blue-teal: #004467;
$red-crimson: #740c15;
$green-fern: #040;
$green-olive: #343305;
$grey-steel: #777;

$heveltica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-thin: 'Roboto', sans-serif;

$primary-color: $green-fern;
$primary-color-tint: lighten($primary-color, 3%);
$secondary-color: $red-crimson;
$primary-font: $roboto;
