$white: #fff;
$white-ivory: #fffff0;
$blue-teal: #004467;
$red-crimson: #740c15;
$green-fern: #040;
$green-olive: #343305;
$grey-steel: #777;

$primary-color: $green-fern;

$basic-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
