$desktop-width: 800px;
$xs-width: 340px;

$white: #fff;
$white-ivory: #fffff0;
$green-fern: #030;
$purple: #303;
$green-olive: #7a9f35;

$heveltica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-thin: 'Roboto', sans-serif;

$primary-color: $green-fern;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);
$secondary-color: $purple;
$secondary-color-light: lighten($purple, 10%);
$secondary-color-dark: darken($purple, 10%);
$primary-font: $roboto;
