<div class="header-wrapper">
    <header class="header">
        <div class="header__container wrapper">
            <div class="header__logo logo">
                Ziomek 
            </div>
            {% include "./navigation.twig" %}
        </div>
    </header>
    <div class="header-wrapper__fix" />
</div>