{% set projects = [
    {
        title: 'beVitch',
        date: 'Kwiecień 2020 - aktualnie',
        description: '<a href="https://bevitch.github.io/?path=/story/getting-started-installation--page"> beVitch</a> to biblioteka komponentów UI dla <em>Vue</em>.  Jest to projekt open source, z wykorzystaniem <em>storybook</em>, pisany z użyciem <em>TypeScript</em>.',
        image: {
            src: 'img/projects_bevitch.jpg',
            alt: 'Logo beVitch'
        },
        buttons: [
            {
                href: 'https://github.com/bevitch/bevitch',
                target: '_blank',
                text: 'Zobacz Github'
            },
            {
                href: 'https://bevitch.github.io/?path=/story/getting-started-installation--page',
                target: '_blank',
                text: 'Zobacz storybook'
            },
        ]

    },
    {
        title: 'dlaucznia.pl',
        date: 'Marzec 2019 - Luty 2020',
        description: '<a href="https://www.dlaucznia.pl/"
                    target="_blank">Dlaucznia.pl</a> jest komercyjnym projektem <a href="https://www.nowaera.pl/"
                    target="_blank">Nowej Ery</a>, przy którym pracowałam od etapu prac koncepcyjnych.
                    Jest to aplikacja <em>PWA</em>, stworzona z użyciem <em>Vue</em>, <em>Vuex</em>, <em>Nuxt</em>. Projekt prowadzony w metodyce <em>SCRUM</em>.',
        image: {
            src: 'img/projects_dlu.jpg',
            alt: 'Screenshot strony dlaucznia.pl'
        },
        buttons: [
            {
                href: 'https://www.dlaucznia.pl/',
                target: '_blank',
                text: 'Zobacz stronę'
            },
        ]
    },
    {
        title: 'Strona domowa',
        date: 'Bieżący',
        description: ' Strona, na której właśnie się znajdujesz, stanowi moją piaskownicę. 
                    Obecnie strona jest tworzona bez użycia frameworków - używam <em>vanilla js</em> oraz <em>Sass</em>. 
                    Projekt dawniej był budowany z użyciem <em>Gulp</em>a, obecnie używam <em>Webpack</em>a. 
                    Stosuję lintery, testy piszę w <em>Jest</em> i staram się pisać kod z poszanowaniem dobrych praktyk (Architektura 7 in 1, BEM) oraz semantyki html.',
        image: {
            src: 'img/projects_home.jpg',
            alt: 'Moje logo - Ziomek'
        },
        buttons: [
            {
                href: 'https://github.com/Ziomeka/agnieszkaziomek',
                target: '_blank',
                text: 'Zobacz Github'
            },
        ]
    },
    {
        title: 'Wykresy z wykorzystaniem canvas',
        date: 'Grudzień 2017',
        description: 'Na fali popularności <a href="https://www.cryptokitties.co/" target="_blank">cryptokitties</a> zbudowałam stronę pozwalającą przeglądać statystyki
                    popularnosci cech u tych niezywkłych stworzeń na próbce losowej pobranej danego dnia. Moim celem
                    było wstępne zapoznanie się z elementem canvas.',
        image: {
            src: 'img/projects_canvas.jpg',
            alt: 'Screenshot strony z wykresem słupkowym'
        },
        buttons: [
            {
                href: 'https://github.com/Ziomeka/purristics',
                target: '_blank',
                text: 'Zobacz Github'
            },
            {
                href: 'http://agnieszkaziomek.pl/pages/Purristics/stats/0002.html',
                target: '_blank',
                text: 'Zobacz stronę'
            },
        ]
    },
    {
        title: 'Autokolelacja',
        date: 'Listopad 2017',
        description: 'Proste narzędzie do wykrywania autokorelacji
                    sygnału. W aplikacji wykorzystałam takie rozwiązania jak service worker i synchroniczne wczytywanie
                    plików. Użyłam biblioteki do tworzenia wykresów - jqplot, natomiast potrzebne algorytmy
                    statystyczne zaimplementowałam samodzielnie.',
        image: {
            src: 'img/projects_autocorrelation.jpg',
            alt: 'Screenshot strony z narzędziem do autokorelacji'
        },
        buttons: [
            {
                href: 'https://github.com/Ziomeka/Autocorrelation',
                target: '_blank',
                text: 'Zobacz Github'
            },
            {
                href: 'http://agnieszkaziomek.pl/pages/inz/inz.html',
                target: '_blank',
                text: 'Zobacz stronę'
            },
        ]
    },
    {
        title: 'Generator html',
        date: 'Wrzesień 2017',
        description: 'Jeden z projektów do których planuję powrócić, po
                    odpowiednim zgłębieniu zagadnień architektury aplikacji. W trakcie tworzenia był dla mnie
                    ćwiczeniem w odejściu od jquery na rzecz vanilla js.',
        image: {
            src: 'img/projects_html-generator.jpg',
            alt: 'Screenshot strony z genartorem html'
        },
        buttons: [
            {
                href: 'https://codepen.io/Poziomka/pen/MEeqpE',
                target: '_blank',
                text: 'Zobacz codepen'
            },
        ]
    },
    {
        title: 'Symulator windy',
        date: 'Czerwiec 2017',
        description: 'Prosty symulator windy, który stworzyłam w ramach
                    projektu na zajeciach na uczelni z wykorzystaniem jQuery',
        image: {
            src: 'img/projects_lift.jpg',
            alt: 'Screenshot strony z symulatorem windy'
        },
        buttons: [
            {
                href: 'https://github.com/Ziomeka/ElevatorSymulator',
                target: '_blank',
                text: 'Zobacz Github'
            },
            {
                href: 'http://agnieszkaziomek.pl/pages/winda/index.html',
                target: '_blank',
                text: 'Zobacz stronę'
            },
        ]
    },

] %}

<section class="projects wrapper" id="projects">
    <header class="projects__header">
        <h2>Moje projekty</h2>
    </header>
    {% for project in projects %}
        {% include "./project.twig" with project %}
    {% endfor %}
</section>