.cta {
  color: white;
  background-color: $teal;
  border-radius: 10px;
  padding: 0.5em 1em;
  width: 50%;
  margin-top: 1em;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .cta {
    width: 25%;
  }
}
