.cta {
    color: $white;
    background-color: $primary-color;
    border-radius: 1rem;
    padding: .8rem 1.6rem;
    width: 22.4rem;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    text-align: center;
    display: block;
}
@media screen and (min-width: 769px) {
    .cta {
        width: 25%;
    }
}
