.contact {
    &__header {
        width: 100%;
        color: $primary-color;
        text-align: center;
        border-bottom: 1px solid $primary-color;
    }

    &__links {
        display: inline-block;
        margin-top: 1em;
        width: 100%;
        text-align: center;
    }
}
