.header {
    background-color: $primary-color;

    &__navigation {
        width: 100%;
        margin: 1rem;
    }
}

.navigation {
    list-style-type: none;
    padding: 0;

    &__links {
        color: $white-ivory;
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 769px) {
    .header {
        &__logo {
            width: 45%;
        }

        &__navigation {
            width: 45%;
        }
    }
}
