.header {
    background-color: $primary-color;

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100rem;
        margin: 0 auto;
        padding: .5rem 4rem;
        position: relative;
    }

    &__logo {
        align-self: flex-start;
    }

    &__navigation {
        @include desktop {
            width: auto;
            margin-top: 0;
        }
        margin-top: 1rem;
        width: 100%;
    }
}

