.projects {
    &__header {
        max-width: 1023px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $primary-color;
    }
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    &__header {
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
    }
    &__header-title {
        margin-bottom: 0;
    }
    &__header-date {
        font-size: .75em;
    }
    &__description {
        width: 100%;
        @include desktop {
            width: 45%;
            order: 2;
        }
    }
    &__image {
        width: 100%;
        @include desktop {
            width: 45%;
            order: 1;
        }
    }
    &__cta {
        margin: 1rem;
        text-align: center;
        border-top: 1px solid $primary-color;
        border-left: 1px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        border-radius: 1em;
        display: inline-block;
        padding: 1em;
        &--page {
            @include desktop {
                order: 4;
            }
        }
        &--github {
            @include desktop {
                order: 3;
            }
        }
    }
}
