<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Agnieszka Ziomek</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
</head>

<body>
    {% include "./templates/header/header.twig" %}
    <main>
        {% include "./templates/about/about.twig" %}
        {% include "./templates/projects/projects.twig" %}
        <section class="contact wrapper" id="contact">
            <header class="contact__header">
                <h2>Kontakt</h2>
            </header>
            <br>
            <a class="contact__links" href="tel:+48605248484">tel: +48 605 24 84 84</a>
            <br>
            <a class="contact__links" href="mailto: poziomkaa@gmail.com">e-mail: poziomkaa@gmail.com</a>
            <br>
            <a class="contact__links" href="https://www.linkedin.com/in/agnieszka-ziomek-1980/" target="_blank">
                LinkedIn</a>
            <br>
            <a class="contact__links" href="https://poziomka.weebly.com/" target="_blank">Blog</a>
        </section>

    </main>
</body>

</html>